{{> nav}}
<br>
<p>You can pass data to your template like this:</p>
<p>{{row01}} {{row02}}</p> 
<p> "res.render("index", object);" passes an object to the template, and its properties are called, and rendered above.</p>
<br>
{{> content}}
{{> footer}}