{{> nav}}

<div id="content" class="container blue-grey lighten-4 center-align">
    <p>You can pass data to your template like this:</p>
    <p>{{row01}} {{row02}}</p> 
    <p>(if it says "Hello World" above, the database is working, yay!)</p>
    <p> In routes.js, "res.render("index", {object});" passes an object to the index.handlebars, which inserts the data into the html, and finally rendered.  Cool, right?</p>
    {{> content}}
</div>

{{> footer}}