{{> nav}}
<br>
<p>You can pass data to your template like this:</p>
<p>{{ hello }}</p> 
<p> "res.render("index", object);" passes "object" to the template, and object.hello was rendered above!</p>
<br>
{{> content}}
{{> footer}}